In [59]:
import pandas as pd

In [60]:
df_customer=pd.read_csv(r"C:\Users\Aayushi\Downloads\us_customer_data 1.csv")
df_customer.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold

In [61]:
df_customer.isnull().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [62]:
df_customer['email']=df_customer['email'].fillna(df_customer['name'].str.replace(' ','').str.lower()+'@unknown.com')

In [63]:
df_customer.isna().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [64]:
df_customer.isnull().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [65]:
df_customer.duplicated().sum()

np.int64(0)

In [66]:

df_customer[df_customer['phone'] == '0000000000']

Empty DataFrame
Columns: [customer_id, name, email, phone, address, registration_date, loyalty_status]
Index: []

In [67]:
df_customer['phone']=df_customer['phone'].replace('0000000000',pd.NA)

In [68]:
df_customer.isnull().sum()

customer_id           0
name                  0
email                 0
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [69]:
import random

In [71]:
# Function to generate random 10-digit phone number
def generate_phone():
    return ''.join([str(random.randint(0, 9)) for _ in range(10)])
 
# Replace empty phone numbers
df_customer['phone'] = df_customer['phone'].apply(lambda x: generate_phone() if pd.isna(x) or x == '' else x)

In [74]:
df_customer[df_customer['customer_id']==37]

,customer_id,name,email,phone,address,registration_date,loyalty_status
36,37,Jessica Hardy,cherylray@example.org,244-875-7801,"8293 Martin Ridges Apt. 444, Lake Erikfort, MH...",13-08-2024,Gold

In [75]:
df_customer.isnull().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
dtype: int64