In [85]:
import pyodbc

In [ ]:
pyodbc.drivers()

In [86]:
conn=pyodbc.connect(
    'driver={ODBC Driver 17 for SQL Server};'
    'server=DESKTOP-3BK6R5E;'
    'uid=sa;'
    'pwd=aayushi@123;'
    'database=pipelines;'
)

In [87]:
cursor=conn.cursor()

In [90]:
create_table='''
create table customer(
id int primary key,
customer_id int,
name varchar(50),
email varchar(50),
address varchar(100)
)
'''

In [91]:
conn.execute(create_table)

In [92]:
conn.commit()

In [93]:
customers_data=[(1,1,'Michelle Kidd','vayala@example.net','USNS Santiago, FPO AE 80872'),
              (2,2,'Brad Newton','taylorcatherine@example.net','38783 Oliver Street, West Kristenborough,MT 99752'),
              (3,3,'Larry Torres','dsanchez@example.net','6845 Steele Turnpike, West Erikabury, UT 37487'),
               (4,4,'Kimberly Price','jessicaknight@example.com','1631 Alexis Meadows, Lake Amanda, CA 75179'),
              (5,5,'Matthew Phillips','qwilliams@example.com','2274 Williams Heights Suite 895, Andersonhaven, OR 80565')

]

In [94]:
cursor.executemany(
    '''insert into customer(id,customer_id,name,email,address) values(?,?,?,?,?)''',customers_data
)

In [95]:
conn.commit()

SCD 1

In [96]:
cursor.execute('''
update customer set name='tim bradford',email='tim@example.com'
where customer_id=1
               '''
)

In [97]:
conn.commit()

SCD 2

In [98]:
cursor.execute('''
               alter table  customer add start_date date,end_date date,is_current varchar(20) '''
               )

In [99]:
conn.commit()

now updating the  start_date,end_date and current_status

In [100]:
cursor.execute('''
     UPDATE customer
   SET start_date = COALESCE(start_date, GETDATE()),
        end_date = COALESCE(end_date, NULL),
     is_current = COALESCE(is_current, 'Yes');''')
conn.commit()

now i want to add end_date and change current status to no for customer_id = 1 -- PAST DATA

In [101]:
cursor.execute(''' UPDATE customer set start_date = ?,end_date = getdate(),is_current= ?
               where customer_id = ?
              ''' ,('2025-06-20','no',1))
conn.commit()

 now  added new row for current data -- CURRENT DATA

In [103]:
cursor.execute(''' insert into customer(id,customer_id,name,email,address,start_date,end_date,is_current)
               values(?,?,?,?,?,?,NULL,?)
               ''',(6,1,'tim bradford','tim@example.com','USNS Santiago, FPO AE 80872',
                   '2025-06-23', 'yes'))
conn.commit()

SCD 3

In [ ]:
cursor.execute(''' alter table customer add prev_address nvarchar(100) '''

)

In [108]:
conn.commit()

In [109]:
cursor.execute(
    ''' update customer set prev_address=?,address=? where customer_id=?''',('USNS Santiago, FPO AE 80872','67623 Morgan Hollow, Hillshire, IL 78665',1)
)

In [110]:
conn.commit()

SCD 4

In [111]:
create_table_history='''
create table customer_history(
id int primary key,
customer_id int,
name varchar(50),
email varchar(50),
address varchar(100),
start_date date,
end_date date,
is_current varchar(20)
)
'''

In [115]:
conn.execute(create_table_history)

In [116]:
conn.commit()

In [119]:
cursor.execute(''' insert into customer_history(id,customer_id,name,email,address,start_date,end_date,is_current)
               values(?,?,?,?,?,?,?,?)
               ''',(1,1,'tim bradford','tim@example.com','USNS Santiago, FPO AE 80872',
                   '2025-06-20', '2025-06-23','no'))
conn.commit()

In [120]:
cursor.execute(''' insert into customer_history(id,customer_id,name,email,address,start_date,end_date,is_current)
               values(?,?,?,?,?,?,NULL,?)
               ''',(6,1,'tim bradford','tim@example.com','67623 Morgan Hollow, Hillshire, IL 78665',
                    '2025-06-23','yes'))
conn.commit()

In [113]:
create_table_current='''
create table customer_current(
id int primary key,
customer_id int,
name varchar(50),
email varchar(50),
address varchar(100)
)
'''

In [117]:
conn.execute(create_table_current)

In [118]:
conn.commit()

In [121]:
customers_data=[(6,1,'tim bradford','tim@example.com','67623 Morgan Hollow, Hillshire, IL 78665'),
              (2,2,'Brad Newton','taylorcatherine@example.net','38783 Oliver Street, West Kristenborough,MT 99752'),
              (3,3,'Larry Torres','dsanchez@example.net','6845 Steele Turnpike, West Erikabury, UT 37487'),
               (4,4,'Kimberly Price','jessicaknight@example.com','1631 Alexis Meadows, Lake Amanda, CA 75179'),
              (5,5,'Matthew Phillips','qwilliams@example.com','2274 Williams Heights Suite 895, Andersonhaven, OR 80565')

]

In [122]:
cursor.executemany(
    '''insert into customer_current(id,customer_id,name,email,address) values(?,?,?,?,?)''',customers_data
)

In [124]:
conn.commit()